<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lbrumga1_test_db</property>
        <property name="hibernate.connection.username">lbrumga1</property>
        <property name="hibernate.connection.password">XOgJshmqwIZ6sVKG</property>
        <property name="connection_poolsize">1</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>


        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibBook" />
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibShelvedBook" />
        <!--<mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibRowShelf" />-->
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibPublisher"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibAuthor"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibGenre"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibTitle"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibISBN"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibEmail"/>
        <mapping class ="edu.swarthmore.cs.cs71.shelved.model.server.HibUser"/>
        <mapping class ="edu.swarthmore.cs.cs71.shelved.model.server.HibBookShelf"/>
        <mapping class ="edu.swarthmore.cs.cs71.shelved.model.server.HibRowShelf"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibReadingList"/>
        <mapping class="edu.swarthmore.cs.cs71.shelved.model.server.HibWishList"/>

    </session-factory>
</hibernate-configuration>
